.album-form__input {
  height: 50px;
  padding: 20px 15px;
  border: 1px solid #222;
  display: block;
  width: 100%;
  border-radius: 4px;
}

.album-form__submit-btn {
  display: block;
  margin-left: auto;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 15px 25px;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 4px;
  margin-top: 15px;
}